<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <script type="module" src="/script.js" defer></script>
  <title>Stream a file</title>
</head>

<body>
  <h1>Streaming a file</h1>
  <p>
    Caution : this operation might freeze or crash your computer.<br>
    Please, make sure it has got a good processor and
    enough RAM memory.<br>
    If not, just read the code but DO NOT TEST !
  </p>
  <button id="stream-text-btn">Click to stream</button>
</body>

</html>