<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/global.js" defer></script>
    <script type="module" src="/js/generate.js" defer></script>
    <title>Stream generated text</title>
</head>

<body>
    <h1>Stream some generated text</h1>
    <div class="buttons">
        <button id="stream-text-btn">Click to stream</button>
        <button id="stop-stream">Click to stop</button>
    </div>
    <ul id="list-of-generated-text">

    </ul>
</body>

</html>