<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/global.js" defer></script>
    <script type="module" src="/js/image.js" defer></script>
    <title>Stream an image</title>
</head>

<body>
    <h1>Streaming an image</h1>
    <button id="stream-image-btn">Click to stream</button>
    <div id="image"></div>
</body>

</html>