<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/js/global.js" defer></script>
  <title>Streamer</title>
</head>

<body>
  <h1>Go to</h1>
  <a href="/file">Stream a file</a>
  <a href="/video">Stream a video</a>
  <a href="/image">Stream an image</a>
  <a href="/generate">Stream a generated text</a>
</body>

</html>